.banner {
    height: 68px;
    display: flex;
    justify-content: space-between;
}

.banner img {
    width: auto;
}

.banner nav {
    display: flex;
    color: #FF6060;
}

.banner ul {
    display: flex;
    font-size: 24px;
    padding: 0px;
    gap: 30px;
    align-items: center;
    list-style: none;
}

.banner ul li:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media (max-width: 646px) {
    .banner {
        display: block;
    }

    .banner img {
        height: 68px;
    }

    .banner nav {
        justify-content: center;
    }
}