.fiche-logement {
    width: 340px;
    height: 340px;
    background: var(--colorRed);
    background: linear-gradient(180deg, rgba(255, 96, 96, 1) 0%, rgba(0, 0, 0, 0.6) 100%);
    border-radius: 10px;
}

.fiche-logement h3 {
    font-size: 18px;
    line-height: 142.6%;
    margin: 20px;
}