.logement {
    margin: 10px 100px;
}

.carrousel-logement img {
    display: flex;
    height: 415px;
    width: 100%;
    object-fit: cover;
    border-radius: 0px 0px 25px 25px;
}

.ficheLogement {
    display: flex;
}

.ficheLogement h1,
h4 {
    color: var(--colorRed);
}

.div-tags {
    display: flex;
    gap: 20px;
    white-space: nowrap;
}

.tags {
    display: flex;
    align-items: center;
    padding-inline: 20px;
    height: 25px;
    font-size: 14px;
    background-color: var(--colorRed);
    color: white;
    border-radius: 10px;
}

.div-etoiles {
    display: flex;
    gap: 10px;
    color: var(--colorRed);
    width: 167px;
}

.div-etoiles p {
    font-size: 18px;
    width: 93px;
    height: 52px;
    padding-top: 10px;
    text-align: right;
}

.div-etoiles img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin-top: 15px;
}

.div-description {
    width: 100%;
}

.stars {
    display: flex;
    justify-content: right;
    width: 167px;
    gap: 10px;
}

.span1 {
    color: var(--colorRed);
}

.span2 {
    color: #E3E3E3;
}

.collapses {
    display: flex;
    gap: 76px;
    margin-top: 10px;
}

.collapses>div {
    width: 100%;
}


.description-header,
.equipements-header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 28px;
    background-color: var(--colorRed);
    color: white;
    font-size: 18px;
    padding: 17px 0px 17px 20px;
    border-radius: 10px;
    margin-bottom: -10px;
    align-items: center;
}

.fa-chevron-up {
    padding-right: 12px;
    align-items: center;
    font-size: 1.5rem;
}

.description-chevron {
    align-items: center;
}

.fond-description {
    position: relative;
    background-color: #F7F7F7;
    border-radius: 10px;
    height: 249px;
    z-index: -1;
}

.description-content,
.equipement-content {
    margin: 0px;
    color: var(--colorRed);
}

.description-content {
    padding: 40px 12px 0px 20px;
}

.equipement-content {
    margin: 0;
    padding-left: 20px;
    padding-right: 12px;
}

.equipement-content:first-child {
    padding: 40px 12px 0px 20px;
}